:root {
  --main-color: #afbdb9;
  --contact-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --all-buttons: #4e5c58;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#fff,#daefe9, #c5d7d2, #c5d7d2, #fff);
}
h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
  opacity: 0.8;
}
h1 {
  font-size: 90px;
}
h2 {
  font-size: 60px;
}
h3 {
  opacity: 0.7;
  font-weight: bold;
  font-size: 30px;
}
img{
  border-radius: 5px;
  width: 300px;
}
.contact,
.about {
  font-style: none;
  padding: 15px 10px;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 10px;
  border-width: 1px;
  border-color: var(--main-color);
}
.top-buttons,
.project-buttons {
  background-color: var(--main-color);
  color: #ffff;
  border-radius: 4px;
  text-decoration: none;
  margin: 100px 20px;
  box-shadow: var(--contact-shadow);
  text-align: center;
  display: block;
  width: fit-content;
}
.top-buttons:hover,
.project-buttons:hover {
  color: var(--main-color);
  background-color: var(--all-buttons);
  transition: 0.25s;
}

.paragraphs {
  display: flex;
  flex-direction: row;
}
.para {
  background-color: transparent;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  margin-top: 100px;
}
.contact-me {
  text-align: center;
}
.contact-details {
  font-size: 50px;
  padding-top: 100px;
}
.email {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #797a7a;
}
.link-email,
.home {
  display: flex;
  justify-content: center;
}
.rows {
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
  img {
    display: none;
  }
  .top-buttons {
    margin-top: 60px;
  }
  .project-buttons {
    margin: 10px;
    margin-top: 30px;
  }
  .paragraphs {
    display: block;
  }
  .para {
    margin-top: 30px;
    background-color: transparent;
    text-align: center;
  }
}
