:root {
  --main-color: #797f82;
  --contact-shadow: rgba(62, 70, 69, 0.35) 0px 5px 15px;
  --all-buttons: #848685;
}
html {
  height: 100%;
}
body {
  font-family: Playfair Display, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  opacity: 0.8;
}
footer {
  padding: 10px;
}
h1 {
  font-size: 80px;
}
nav {
  transition: 0.3s;
}
.logo-nav {
  max-width: 50px;
}
.logo {
  margin-top: 40px;
  margin-bottom: 15px;
  width: 500px;
}
.projects-link {
  color: #696d70;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: 0.2s;
}
.projects-link:hover {
  font-size: 18px;
  color: #494c4e;
}
.nav--hidden {
  transform: translateY(calc(-1 * 130px));
  box-shadow: none;
}
.contact-heading {
  margin-bottom: 60px;
  text-align: center;
}
.contact-list {
  text-align: center;
  list-style: none;
  line-height: 1.5;
  margin: 40px;
  font-size: 25px;
}
.contact-links {
  color: var(--main-color);
  margin: 5px;
  font-size: 25px;
  margin-top: 10px;
}
.contact-links:hover {
  font-size: 35px;
  transition: 0.3s;
  margin-top: 0;
}
.head-img {
  width: 358px;
  border-radius: 50%;
}
.project-images {
  border-radius: 5px;
  width: 200px;
  box-shadow: var(--contact-shadow);
}
.project-title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.project-buttons {
  background-color: var(--main-color);
  color: #ffff;
  border-radius: 4px;
  text-decoration: none;
  margin: 50px 30px;
  box-shadow: var(--contact-shadow);
  text-align: center;
  display: block;
  width: fit-content;
  transition: 0.25s;
  margin: 0px auto;
}

.project-buttons:hover {
  color: #ffff;
  background-color: #696d70;
  font-size: 18px;
  font-weight: 500;
}
.work-container {
  opacity: 0.7;
  padding: 10px;
  text-align: center;
}
.footer-work-message {
  font-size: 20px;
}
.icons {
  font-size: 30px;
  margin-left: 10px;
}
.about-heading {
  margin-top: 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }

  .logo {
    max-width: 200px;
  }
  .about-heading {
    margin-top: 30px;
  }
  .contact-list {
    margin: 30px;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .footer-work-message {
    display: none;
  }
  .head-img {
    width: 204px;
    border-radius: 20%;
  }
}

