:root {
  --main-color: #797f82;
  --contact-shadow: rgba(62, 70, 69, 0.35) 0px 5px 15px;
  --all-buttons: #848685;
}
html {
  height: 100%;
}
body {
  font-family: Playfair Display, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  opacity: 0.8;
}
footer {
  padding: 10px;
}
.contact-heading {
  font-size: 50px;
  margin-bottom: 90px;
  text-align: center;
}
.contact-list {
  text-align: center;
  list-style: none;
  line-height: 1.5;
  margin: 50px;
  font-size: 30px;
  font-family: Playfair Display, "Times New Roman", Times, serif;
}
.contact-links {
  color: var(--main-color);
  margin: 5px;
  font-size: 25px;
  margin-top: 10px;
}
.contact-links:hover {
  font-size: 35px;
  transition: 0.3s;
  margin-top: 0;
}

.footer-link {
  color: #fff;
}
.work-inquiry {
  font-size: 50px;
}
.head-img {
  max-width: 200px;
}
.logo-nav {
  max-width: 50px;
}
.logo {
  margin-top: 40px;
  margin-bottom: 15px;
  width: 500px;
}
.project-images {
  border-radius: 5px;
  width: 200px;
  box-shadow: var(--contact-shadow);
}
.img-container {
  opacity: 0.8;
  width: fit-content;
  min-height: 350px;
}
.p-title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.project-buttons {
  background-color: var(--main-color);
  color: #ffff;
  border-radius: 4px;
  text-decoration: none;
  margin: 50px 30px;
  box-shadow: var(--contact-shadow);
  text-align: center;
  display: block;
  width: fit-content;
  transition: 0.25s;
}
.project-buttons {
  margin: 0px auto;
}
.project-buttons:hover {
  color: #ffff;
  background-color: #696d70;
font-size: 18px;
font-weight: 500;
}

.about-para {
  background-color: transparent;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  margin-top: 100px;
}
.contact-heading {
  font-size: 70px;
  margin-top: 100px;
}
.email {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #797a7a;
}
.work-container {
  opacity: 0.7;
  padding: 10px;
  text-align: center;
}
.footer-work-message {
  font-size: 20px;
}
.link-email {
  display: flex;
  justify-content: center;
}
.about-heading {
  font-size: 80px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
  .top-buttons {
    margin-top: 60px;
  }
  .logo {
    max-width: 200px;
  }
  .work-inquiry {
    display: none;
  }
}
@media (max-width: 600px) {
  .footer-work-message {
    display: none;
  }
}
